
.section-one {
	padding: 5% 0 8% 0;
	.google {
		font-size: 350%;
		font-weight: bold;
		span {
			margin: -5px;
		}
	}
	ul li {
		display: inline-block;
		padding: 0 2%;
	}
}

.section-two {
	padding: 0 7%;
}