$azul: rgb(66, 133, 244);
$rojo: rgb(234, 67, 53);
$amarillo: rgb(251, 188, 5);
$verde: rgb(52, 168, 83);
$gris_fecha: #5f6368;
$gris_texto: #414549;
$gris_titulos: #424242;
$azul-google: #4285f4;
$box: rgb(241, 243, 244);
$fuente_general: 'Lato', sans-serif;
$fuente_dos: 'PT Mono', monospace;